div.Checkbox {
  width: $check-box-width;
  height: $check-box-height;
  border: 1px solid $check-box-border-color;
  box-sizing: border-box;
  position: relative;
  float: left;
  > div {
    // div.inner circle
    border-radius: 50%;
    border: 1px solid #8f8f8f;
    box-shadow: 0 0 6px 0 #cccccc;
    background: radial-gradient(#ffffff 40%, #747474 80%);
    width: $inner-circle-radius;
    height: $inner-circle-radius;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -$inner-circle-radius/2;
    margin-left: -$inner-circle-radius/2;
    text-align: center;
    background-color: #f1f1f1;
    & > span {
      opacity: 0;
      transition: all 200ms ease;
      line-height: $inner-circle-radius;
      font-size: $inner-circle-radius * 1.5;
      color: #00aa22 !important;
      user-select: none;
      position: relative;
      left: -3px;
      top: 2px;
    }
    &:hover > span {
      opacity: 1;
    }
  }
}
