div.Remove {
  float: left;
  width: 23px;
  height: 60px;
  @include checkBoxBorder;
  border-right: 0;
  text-align: center;
  line-height: 60px;
  transition: all 200ms ease;
  user-select: none;
  &:hover {
    background-color: #ff5522;
  }
  &:hover > span {
    color: #ffffff;
    font-weight: 900;
  }
}
