div.Todo {
  width: $todo-width;
  float: left;
  //   @include showBack;
  &:hover {
    background-color: #00ddbb;
  }
  &:hover > p {
    padding: 6px 20px;
    height: 66px;
    @include checkBoxBorder;
    border-top: 0;
    background-color: #f5f5f5;
  }
  & > h3 {
    // title
    width: 280px;
    float: left;
    line-height: $title-height;
    height: $title-height;
    text-align: center;
    @include checkBoxBorder;
    border-right: 0px;
    & + div {
      // tags container
      height: $title-height;
      line-height: $title-height;
      @include checkBoxBorder;
      float: left;
      width: $tags-container-width;
      overflow: hidden;
      & + p {
        width: 100%;
        padding: 0px 20px;
        height: 0px;
        float: left;
        word-break: break-all;
        transition: all 200ms ease;
        overflow: hidden;
      }
    }
  }
}
