@mixin showBorder {
  border: 1px solid gold;
  box-sizing: border-box;
}
@mixin showBack {
  background-color: #ff1188;
}

$band-height: 100px;
$band-back-color: #382ebd;

$sidebar-back-color: #eb1088;
$sidebar-link-height: 80px;
$avatar-width: 200px;

$input-width: 600px;
@mixin inputBorder {
  border: 2px solid #000000;
  outline: none;
}
$add-tag-width: 32px;

$check-box-width: 60px;
$check-box-height: $check-box-width;
$inner-circle-radius: 36px;
$check-box-border-color: #dadada;
@mixin checkBoxBorder {
  border: 1px solid $check-box-border-color;
  box-sizing: border-box;
}

$todo-width: 780px;
$title-height: $check-box-height;
$tags-container-width: 500px;

$UfList-width: 865px;

$page-number-height: 25px;
