@import "./variables";
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
@import "./Band.scss";
@import "./App.scss";
@import "./Sidebar.scss";
@import "./Avatar.scss";
@import "./Home.scss";
@import "./Add.scss";
@import "./Tag.scss";
@import "./AddTag.scss";
@import "./Checkbox.scss";
@import "./Todo.scss";
@import "./Label.scss";
@import "./Unfinished.scss";
@import "./UfList.scss";
@import "./Page.scss";
